.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background:rgb(0, 17, 28,0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px; 
    z-index: 2000;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: rgb(0, 17, 28);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    gap: 20px;
}

.slide-down {
    animation: slideInFromTop 0.4s ease-out forwards;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.vertical-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    gap: 20px;
    border: #000000;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.vertical-form input{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    padding: 5px 0px 5px 5px;
    border-color: #000000;
    border-width: 0.5px;
}
.vertical-form button{
    background-color: #b91c1c;
    color: white;
    border: none;
    padding: 5px 0px 5px 0px;
    border-radius: 15px;
    width: 80%;
}
.close-icon {
    position: absolute;
    top: 12px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #00111c;
    cursor: pointer;
    line-height: 1;
}

.close-icon:hover {
    color: #b91c1c;
    transform: scale(1.1);
}

.register-trigger {
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    margin-left: 10px;
    cursor: pointer;
}
