.cards-container {
  position: relative;
  height: 100vh;
}

.card {
  position: absolute;
  inset: 0;              /* full screen */
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
}
