@import "tailwindcss";
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

html,
body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:root{
--stormy-teal: #006466ff;
--dark-teal: #065a60ff;
--dark-teal-2: #0b525bff;
--dark-teal-3: #144552ff;
--charcoal-blue: #1b3a4bff;
--deep-space-blue: #212f45ff;
--space-indigo: #272640ff;
--midnight-violet: #312244ff;
--midnight-violet-2: #3e1f47ff;
--deep-purple: #4d194dff;
--apnabackground: #00111c;
  --bg-gradient: linear-gradient(
    135deg,
    #006466,
    #065a60,
    #0b525b,
    #144552,
    #1b3a4b,
    #212f45
  );
}
